<li>
	{{burgername}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat!{{else}}Don't eat!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Be GONE!</button>
</li>
